/Descargas/ArchivosObjetos/build/
/Descargas/ArchivosObjetos/nbproject/private/
/Descargas/JtableJCombo/build
/Descargas/JtableJCombo/nbproject/private
/Descargas/Lab2/build
/Descargas/Lab2/nbproject/private
/Descargas/ProyectoCapas/build
/Descargas/ProyectoCapas/dist
/Descargas/ProyectoCapas/nbproject/private
/nbproject/private/
/build/
